html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

li {
  list-style-type: none; /* Убираем маркеры */
}
body {
  height: 100%;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  height: 100%;
  // background-color: var(--main-color);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
  font-size: 18px;
}

button {
  outline: transparent;
  border: transparent;

}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 20px 0;
}

.search-attitude-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px;
}
