:root {
  --main-color: #e5e5e5;
  --pink-color: #ff868e;
  --hover-color: #FBE0DC;
  --while-color: #ffffff;
  --black-color: #1D1D1D;
  --gray-color: #8C8C8C;
  --fiolet-card-color: rgba(180, 183, 255, 1);
  --grean-card-color: rgba(151, 234, 185,1);
  --orange-card-color: rgba(255, 210, 128,1);
}
