:root {
  --main-color: #f1f0f0;
  --pink-color: #ff868e;
  --hover-color: #fbe0dc;
  --while-color: #ffffff;
  --black-color: #1d1d1d;
  --gray-color: #8c8c8c;
  --options-color: #f8f8f7;
  --bgc-title-color: #fbe0dc;
  --fiolet-card-color: rgba(180, 183, 255, 1);
  --grean-card-color: rgba(151, 234, 185,1);
  --orange-card-color: rgb(248, 223, 177); 
}
